html {
  font-size: 14px;
}

@media (min-width: 768px) {
  html {
    font-size: 16px;
  }
}

.btn:focus, .btn:active:focus, .btn-link.nav-link:focus, .form-control:focus, .form-check-input:focus {
  box-shadow: 0 0 0 0.1rem white, 0 0 0 0.25rem #258cfb;
}

html {
  position: relative;
  min-height: 100%;
}

body {
  margin-bottom: 60px;
}


.todo-list-container {
  width: 400px;
  text-align: left;
  margin: 0 auto;
}

ul.todo-list {
  list-style: none;
  padding: 0;
}

.progress-bar {
  width: 400px;
  height: 4px;
  text-align: left;
  margin: 0 auto;
  background-color: #eee;
}

.progress-bar>div {
  height: 4px;
  background-color: forestgreen;
  transition: width .6s ease;
}
